* {
    box-sizing: border-box;
}
#hero {
    background: url("images/hero.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: left bottom;
    width: 100%;
}

#subhead {
    margin-top: -10px;
}

.verse-text {
    display: block;
    width: 980px;
    margin: auto;
}

.verse-text:hover {
    cursor: pointer;
}

#film-link {
    margin-top: 40px;
    object-fit: cover;
    object-position: 0 0;
    height: 32px;
}

#film-link:hover {
    object-position: 0 -32px;
}
