* {
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

nav {
    display: flex;
    position: relative;
    align-items: stretch;
    background-image: linear-gradient(
        #4b4b4b,
        #8a8a8a 1%,
        #5c5c5c 1%,
        #7c7c7c 50%,
        #636363 50%,
        #3b3b3b 100%
      );
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 auto;
    width: 980px;
    height: 36px;
    margin: 80px auto 40px auto;
}

.navitem {
    flex: 1;
    font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: white;
    border: 1px solid rgba(124,124,124,0.26);
    text-align: center;
    line-height: 36px;
}

.navitem:hover {
    background-color: rgba(100,100,100,0.5);
}

.navitem:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo > i {
    font-size: 24px;
}

#search {
    border: 1px solid gray;
    border-radius: 20px;
    background: none;
    color: white;
    height: 20px;
    width: 80%;
    display: flex;
    align-items: center;
}

#search > input {
    width: calc(100% - 20px);
    background: none;
    border: none;
}

#main {
    width: 1440px;
    height: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

#hero {
    background: url("images/hero.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: left bottom;
    width: 100%;
}

#subhead {
    margin-top: -10px;
}

.verse-text {
    display: block;
    width: 980px;
    margin: auto;
}

.verse-text:hover {
    cursor: pointer;
}

#film-link {
    margin-top: 40px;
    object-fit: cover;
    object-position: 0 0;
    height: 32px;
}

#film-link:hover {
    object-position: 0 -32px;
}


#secondary {
    display: flex;
}

.subitem {
    flex: 1;
}

.subitem > img {
    width: 100%;
}

footer {
   font-size: 10px;
   color: rgb(110,110,110);
   width: 50%;
   margin: 0 auto;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(0,136,204);
}

#footnav,
#contact {
    display: inline-block;
}

#footnav > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footnav > ul > li {
    display: inline-block;
    border-right: 1px solid lightgray;
    padding-right: 5px;
    margin-left: 5px;
}

#footnav > ul > li:last-child {
    border-right: none;
}